# Smartphone Sales Analysis: From Data Cleanup to Complex SQL Interrogation

Step into the world of smartphone sales analysis alongside Mark, the data aficionado, in our project, "Smartphone Sales Analysis: From Data Cleanup to Complex SQL Interrogation." This project, a fusion of Python's data-cleaning prowess and SQL's analytical might, is a journey through two pivotal modules aimed at unraveling the intricate landscape of smartphone sales.

In Module 1, Python takes the reins, meticulously refining the dataset by tackling null values, duplicates, and ensuring column consistency. This stage lays the groundwork, ensuring that the data shines brightly and is primed for analysis.

Then comes Module 2, where SQL takes center stage, employing a diverse range of complex queries. These queries serve as a gateway to unveil hidden insights within the dataset, unveiling trends and behaviors in smartphone sales that might otherwise remain obscured.

The synergy between Python's data cleaning and SQL's analytical capabilities exemplifies a data-driven exploration. This project isn't just about crunching numbers; it's an expedition into the world of smartphone sales analysis, where every step reveals new insights into market trends and consumer behavior.

By the end of this project, Mark doesn't just analyze data; he uncovers the intricacies of smartphone sales, providing actionable insights that could steer business strategies and marketing decisions in the industry.

Join Mark on this captivating journey, where every Python function and SQL query illuminates the path to understanding smartphone sales trends. Together, we'll decode the complexities of this dynamic market, offering invaluable insights to shape the future of the smartphone industry through data-driven analysis.

# Module 1

Task 1: Importing Smartphone Sales Data
In our project, "Smartphone Sales Analysis," this initial task focuses on importing data from the 'dataset_mobile.csv' file. By loading this dataset, we initiate the analysis of smartphone sales, enabling us to dive deeper into understanding market trends and consumer behavior. This fundamental step is crucial as it sets the groundwork for our comprehensive analysis, allowing us to explore patterns and extract valuable insights from the smartphone sales data.

Loading Dataset
Import Pandas and alias it as 'pd'.
Read the CSV file dataset_mobile.csv into a Pandas DataFrame named 'df'.
To import the 'dataset_mobile.csv' file, which is located in the root path of your project, you should use the following path: './dataset_mobile.csv'.
Inspect the data by calling the variable 'df'.

In [ ]:
#--- Import Pandas ---
import pandas as pd

#--- Read in dataset ('dataset_mobile.csv') ----
# ---WRITE YOUR CODE FOR TASK 1 ---
df = pd.read_csv('./dataset_mobile.csv')
#--- Inspect data ---
df

Task 2: Understanding Data Types
In our "Smartphone Sales Analysis" project, this task involves examining the data types within the dataset imported from 'dataset_mobile.csv'. By using the 'dtypes' function, we aim to understand the nature of the data attributes present in the dataset. This step is essential as it provides insights into the format and structure of the information, aiding us in appropriate data manipulation and analysis for a more comprehensive understanding of smartphone sales trends.

Understanding Data Types
Utilize the '.dtypes' attribute on the DataFrame 'df' to retrieve the data types of its columns.
Store the data type information in the variable 'datatype'.

In [ ]:
# --- WRITE YOUR CODE FOR TASK 2 ---
datatype = df.dtypes
#--- Inspect data ---
datatype

Task 3: Identifying Duplicate Records
In our "Smartphone Sales Analysis" project, this task involves identifying and quantifying duplicate records within the dataset. By using the 'duplicated' function and summing the duplicate occurrences, we aim to understand the extent of redundancy present in the dataset. Recognizing and handling duplicate entries is crucial as it ensures data accuracy and reliability for our analysis, preventing any distortions that may arise from repeated information in the smartphone sales dataset.

Identifying Duplicate Records
Use the '.duplicated()' method followed by '.sum()' on the DataFrame 'df' to count the number of duplicate rows.
Store the count of duplicate rows in the variable 'duplicates'.

In [ ]:
# --- WRITE YOUR CODE FOR TASK 3 ---
duplicates = df.duplicated().sum()
#--- Inspect data ---
duplicates

Task 4: Removing Duplicate Records
In our "Smartphone Sales Analysis" project, this task involves eliminating duplicate records from the dataset. By executing the code provided, we ensure that our dataset consists only of unique entries, enhancing the data's accuracy and reliability. This step is crucial as it helps prevent redundancy and ensures that our analysis is based on distinct and meaningful smartphone sales data, free from any potential distortions caused by repeated entries.

Removing Duplicate Records
Remove duplicate rows from the DataFrame 'df' using the 'drop_duplicates()' method with the parameter 'keep='first'' and 'inplace=True'.
This action keeps the first occurrence of duplicated rows and modifies the DataFrame 'df' accordingly.

In [ ]:
# --- WRITE YOUR CODE FOR TASK 4 ---
df.drop_duplicates(keep='first',inplace=True)
#--- Inspect data ---
df

Task 5: Renaming Columns for Clarity
In our "Smartphone Sales Analysis" project, this task involves renaming columns within the dataset to enhance readability and clarity. By using the provided 'new_columns' dictionary, we update column names to ensure better comprehension and standardization. This step is crucial as it streamlines the dataset, making it easier to interpret and analyze smartphone sales data, ensuring a more coherent and consistent representation of information for our analysis.

Renaming Columns for Clarity
Create a dictionary named 'new_columns' to map the old column names to new column names in the DataFrame 'df'. For example, 'm_brand' will be renamed to 'Brand', 'm_model' to 'Model', 'memory_' to 'Memory', 'Storage_' to 'Storage', 'Rating_' to 'Rating', 'sp' to 'Selling Price', 'Orig price' to 'Original Price', and 'm_color' to 'color'.
Utilize '.rename()' to update the column names in the DataFrame 'df' according to the dictionary 'new_columns'.

In [ ]:
# --- WRITE YOUR CODE FOR TASK 5 ---
new_columns = {'m_brand':'Brand','m_model':'Model','m_color':'color',
              'memory_':'Memory','Storage_':'Storage','Rating_':'Rating',
              'sp':'Selling Price','Orig price':'Original Price','camera':'camera'}
df.rename(columns=new_columns,inplace=True)
#--- Inspect data ---
df

Task 6: Deriving Additional Columns
In our "Smartphone Sales Analysis" project, this task involves creating new columns in the dataset to derive additional insights. By concatenating 'Brand' and 'Model' columns to create a new 'Mobile' column, calculating the 'Discount' based on 'Original Price' and 'Selling Price', and computing the 'discount_percentage', we aim to extract valuable information. These newly derived columns provide a deeper understanding of the dataset, facilitating more comprehensive analysis and interpretation of smartphone sales data and pricing trends.

Deriving Additional Columns
Create a new column 'Mobile' by combining the 'Brand' and 'Model' columns with a space separator using the string method 'str.cat()'.
Compute the 'Discount' column by subtracting the 'Selling Price' from the 'Original Price'.
Derive the 'discount_percentage' by dividing the 'Discount' by the 'Original Price' and multiplying by 100.

In [ ]:
# --- WRITE YOUR CODE FOR TASK 6 ---

df['Mobile'] = df['Brand'].str.cat(df['Model'],sep=' ')
df['Discount'] = df['Original Price'] - df['Selling Price']
df['discount_percentage'] = (df['Discount']/df['Original Price'])*100
#--- Inspect data ---
df

Task 7: Removing Unnecessary Columns
In our "Smartphone Sales Analysis" project, this task involves eliminating specific columns ('Model' and 'camera') from the dataset. By executing the code provided, we streamline the dataset, removing redundant or unnecessary columns that might not contribute significantly to our analysis. This step ensures a more focused and relevant dataset for our smartphone sales analysis, allowing us to concentrate on essential factors impacting sales without irrelevant attributes.

Removing Unnecessary Columns
Utilize the 'drop()' method on the DataFrame 'df' with the column names 'Model' and 'camera' specified within a list and 'axis='columns'' to remove these columns.
Reassign the modified DataFrame to 'df' to reflect the changes.

In [ ]:
# --- WRITE YOUR CODE FOR TASK 7 ---

df = df.drop(columns=['Model','camera'],axis='columns')

#--- Inspect data ---
df

Task 8: Identifying Null Values
In our "Smartphone Sales Analysis" project, this task involves identifying and quantifying null values within the dataset. The code snippet provided computes the count of null values present in each column. Understanding the extent of missing data is crucial as it enables us to handle and address any potential data gaps or inconsistencies. This step ensures data completeness and reliability for our analysis, helping us make informed decisions on managing missing values within the smartphone sales dataset.

Identifying Null Values
Employ the '.isnull()' method combined with '.sum()' on the DataFrame 'df' to count the null values present in each column.
Store the count of null values in the variable 'null_values'.

In [ ]:
# --- WRITE YOUR CODE FOR TASK 8 ---

null_values = df.isnull().sum()
#--- Inspect data ---
null_values

Task 9: Handling Null Values and Saving Cleaned Dataset
In our "Smartphone Sales Analysis" project, this task involves removing rows with null values from the dataset using 'dropna()'. The cleaned dataset is then saved to a new CSV file named 'cleaned_dataset.csv' without including the index column. This step ensures that our dataset is devoid of any missing values, providing a refined and complete dataset for further analysis and ensuring the integrity of our insights derived from the smartphone sales data.


Handling Null Values and Saving Cleaned Dataset
Use the 'dropna()' method on the DataFrame 'df' to eliminate rows containing any null values.
Save the cleaned DataFrame to a CSV file named 'cleaned_dataset.csv' without including the index=False by using 'to_csv()' .
Reassign the modified DataFrame 'df' after dropping the rows with null values.

In [ ]:
# --- WRITE YOUR CODE FOR TASK 9 ---

df = df.dropna()
#--- Export the df as "cleaned_dataset.csv" ---
#df.to_csv('/tmp/cleaned_dataset.csv')
#--- Inspect data ---
df

# Module 2
Task 1: Data Download, Import, and Database Connection


Data Download, Import, and Database Connection.
Download the dataset cleaned_dataset.csv which is exported in Module 1 - Task 9.
If you receive an error message stating that the file is not available while downloading, please rerun the cell responsible for exporting that particular CSV file.
Create the table on MYSQL using your credentials provided here
Use the provided login information to access the database by clicking the link located on the Databases tab. Once there, you need to upload the required datasets in the specific database mentioned in the database info tab. Rename the table to 'cleaned_dataset.csv' using the Operations tab within the database interface and then click on ""Run test"" to complete the task.
Alternatively, click on the 'Import' button for the 'cleaned_dataset' file directly to import the file into your database.Table name must be 'cleaned_dataset'
Use the %load_ext sql command to load the SQL extension in your Jupyter Notebook environment. This extension allows you to run SQL commands directly within your notebook.
Use the %sql magic command to specify the connection string for your MySQL database. Replace <user>, <password>, and <db_name> with your actual database credentials and details.
Otherwise, simply replace the provided database connection string in the Databases tab.

In [ ]:
# -- Load the sql extention ----

%load_ext sql
import pymysql

# --- Load your mysql db using credentials from the "DB" area ---

%sql mysql+pymysql://be9d355e:Cab#22se@localhost/be9d355e

Task 2: Distinct Smartphone Brands Analysis
This task involves retrieving distinct brand names from the smartphone sales dataset. By querying and identifying unique brand names, we gain insights into the diversity of brands available in the dataset. Understanding the range of brands and their prevalence within the dataset can aid in market analysis, identifying popular brands, and assessing their market share, which is crucial for strategic business decisions and marketing strategies in the smartphone industry.

Retrieve the distinct brand names from the dataset
Select the 'Brand' column from the 'cleaned_dataset' table.
Use the DISTINCT keyword to ensure only unique brand names are returned without duplicates.

In [ ]:
%%sql
SELECT DISTINCT Brand FROM cleaned_dataset;

Task 3: Average Selling Price of OPPO Mobile Phones
This task computes the average selling price specifically for OPPO mobile phones from the dataset. Determining the average selling price provides insights into the pricing strategy of OPPO phones, aiding in understanding their competitive positioning within the smartphone market. This analysis assists in gauging the price perception of OPPO devices among consumers and guides pricing decisions or market positioning strategies for similar products.

Calculate the average selling price of all OPPO mobile phones.
Select the average of the 'Selling Price' column and alias it as 'Avg_Selling_Price.'
Specify the data source as the 'cleaned_dataset' table.
Use a WHERE clause to filter for rows where the 'Brand' column is equal to 'OPPO.'

In [ ]:
%%sql

SELECT AVG(`Selling Price`) AS Avg_Selling_Price
FROM cleaned_dataset WHERE Brand = 'OPPO';

Task 4: Top 5 Mobile Phones by Highest Original Price
This task identifies the top 5 mobile phones with the highest original prices from the dataset. This analysis provides valuable insights into the premium segment of mobile phones, showcasing the most expensive devices available. Understanding which phones command the highest prices aids in market positioning assessment, recognizing premium brands, and studying consumer preferences for high-value smartphones.

List the top 5 mobile phones with the highest original price.
Select the DISTINCT 'Brand,' 'Mobile,' and 'Original Price' columns.
Specify the data source as the 'cleaned_dataset' table.
Use ORDER BY to sort the results in descending order based on the 'Original Price' column.
Use the LIMIT clause to retrieve only the top 5 rows, which represent the mobile phones with the highest original prices.

In [ ]:
%%sql
SELECT DISTINCT Brand, Mobile,`Original Price` FROM cleaned_dataset
ORDER BY `Original Price` DESC LIMIT 5;

Task 5: Mobile Phones Sold Above Average Price
This task identifies the brand and model of mobile phones with a selling price higher than the dataset's average selling price. Analyzing devices sold above the average price allows for the recognition of premium or higher-end smartphones. Understanding which phones are priced above the average can provide insights into consumer preferences for premium features or brands, aiding in market segmentation and targeted marketing strategies.

Find the brand and model of mobile phones with a selling price higher than the average selling price.
Select the DISTINCT 'Brand' and 'Mobile' columns.
Specify the data source as the 'cleaned_dataset' table.
Use a WHERE clause to filter rows where the 'Selling Price' is greater than the result of a subquery that calculates the average selling price using SELECT AVG(Selling Price) FROM cleaned_dataset.

In [ ]:
%%sql
SELECT DISTINCT Brand,Mobile FROM cleaned_dataset
WHERE `Selling Price` > (SELECT AVG(`Selling Price`) FROM cleaned_dataset);

Task 6: Brand-wise Average Ratings
This task lists the brands alongside their average ratings, rounded to two decimal places, from the dataset. Calculating the average rating for each brand provides insights into customer satisfaction or perception of various smartphone brands. This analysis assists in understanding brand performance, aiding in strategic decisions for improving brand image, marketing strategies, or product development based on customer feedback.

List the brands and the average rating they have received, rounded to two decimal places.
Select the 'Brand' column and calculate the rounded average of the 'Rating' column using the ROUND and AVG functions.
Alias the rounded average rating as 'Average_Rating.'
Specify the data source as the 'cleaned_dataset' table.
Use GROUP BY to group the results by 'Brand.'

In [ ]:
%%sql
SELECT Brand, ROUND(AVG(Rating), 2) AS Average_Rating
FROM cleaned_dataset
GROUP BY Brand;

Task 7: Mobiles with Discount Percentage Over 20%: Brand, Memory, and Storage¶
This task showcases the brand, memory, and storage specifications of mobile phones that have a discount percentage greater than 20%. Highlighting these details assists in recognizing devices that offer higher discounts, aiding consumers in identifying potentially lucrative deals. Understanding which phones have substantial discounts can also reveal trends in pricing strategies across different phone specifications or brands within the dataset.

Display the brand, memory, and storage for mobiles with a discount percentage greater than 20%.
Select the DISTINCT 'Brand,' 'Memory,' and 'Storage' columns.
Specify the data source as the 'cleaned_dataset' table.
Use a WHERE clause to filter rows where the 'discount_percentage' column is greater than 20%.

In [ ]:
%%sql
SELECT DISTINCT Brand, Memory, Storage
FROM cleaned_dataset
WHERE Discount_Percentage > 20;

Task 8: Brand with Most Distinct Models
This task identifies the brand with the highest number of distinct models within the dataset. Analyzing the brand with the maximum variety of models provides insights into the brand's product diversity and market presence. Understanding which brand offers a wider range of models can indicate their market competitiveness, product portfolio strength, and potential customer reach.

Find the brand with the maximum number of distinct models in the dataset.
Select the 'Brand' column and count the number of distinct 'Mobile' models using the COUNT and DISTINCT functions.
Alias the count of distinct models as 'Num_Models.'
Specify the data source as the 'cleaned_dataset' table.
Group the results by 'Brand.'
Order the results in descending order based on 'Num_Models.'
Use the LIMIT clause to retrieve only the top row, which represents the brand with the maximum number of distinct models.

In [ ]:
%%sql
SELECT Brand , COUNT(DISTINCT(Mobile)) AS Num_models
FROM cleaned_dataset
GROUP BY Brand
ORDER BY Num_models DESC LIMIT 1;

Task 9: Top 3 Brands by Highest Average Discount Percentage
This task lists the top three brands with the highest average discount percentages from the dataset. Analyzing brands with the highest average discounts provides insights into their pricing strategies and their focus on offering discounts. Understanding which brands consistently provide higher discounts helps identify market trends, competitive pricing strategies, and consumer perception regarding pricing and offers within the smartphone market.

Display the top 3 brands with the highest average discount percentage.
Select the 'Brand' column and calculate the average 'discount_percentage' for each brand using the AVG function.
Alias the average discount as 'Avg_Discount.'
Specify the data source as the 'cleaned_dataset' table.
Group the results by 'Brand.'
Order the results in descending order based on 'Avg_Discount.'
Use the LIMIT clause to retrieve only the top 3 rows, representing the brands with the highest average discount percentages.

In [ ]:
%%sql
SELECT Brand, (AVG(Discount_Percentage)) AS Avg_Discount
FROM cleaned_dataset
GROUP BY Brand
ORDER BY Avg_Discount DESC
LIMIT 3;

Task 10: Total Mobiles per Memory-Storage Combination
This task calculates the total count of mobiles available for each unique memory-storage combination within the dataset. Analyzing the count of mobiles per memory-storage configuration provides insights into the popularity or availability of various storage options across different memory capacities. Understanding the distribution of mobiles based on memory and storage combinations aids in identifying popular configurations and market trends, assisting manufacturers in product planning and inventory management strategies.

Calculate the total number of mobiles available for each memory-storage combination.
Select the 'Memory,' 'Storage,' and count the number of records using the COUNT function.
Specify the data source as the 'cleaned_dataset' table.
Group the results by the 'Memory' and 'Storage' columns.

In [ ]:
%%sql
SELECT Memory, Storage, COUNT(*) AS Record_Count
FROM cleaned_dataset
GROUP BY Memory, Storage;

Task 11: Brand and Storage-wise Average Selling Price
This task calculates the average selling price for each brand and storage combination, rounding the results to the nearest integer. Displaying the brand, storage, and their respective average selling prices provides insights into the pricing strategies of different brands across various storage options. Understanding the average selling price for each brand and storage combination aids in identifying price trends, evaluating competitive pricing strategies, and informing consumer price preferences within specific storage capacities offered by different brands.

Calculate the average selling price for each brand and storage combination. Display the brand, storage, and the average selling price, rounded to the nearest integer.
Select the 'Brand,' 'Storage,' and calculate the rounded average of the 'Selling Price' column using the ROUND and AVG functions.
Specify the data source as the 'cleaned_dataset' table.
Group the results by 'Brand' and 'Storage.'

In [ ]:
%%sql
SELECT Brand,Storage , ROUND(AVG(`Selling Price`)) AS Avg_Selling_Price
FROM cleaned_dataset
GROUP BY Brand,Storage;

Task 12: Brand-wise Ratio of Original Price to Selling Price
This task computes the ratio of the sum of original prices to the sum of selling prices for each brand, rounding the calculated ratio to two decimal places. Displaying the brand alongside this ratio provides insights into the pricing strategies and potential profit margins for each brand. Understanding this ratio can indicate how brands price their smartphones concerning their manufacturing costs, market positioning, and potential profit margins in relation to the selling price.

Calculate the ratio of the sum of original prices to the sum of selling prices for each brand. Display the brand and the calculated ratio, rounded to two decimal places.
Select the 'Brand' column and calculate the rounded ratio of the sum of 'Original Price' to the sum of 'Selling Price' using the ROUND, SUM, and division operator (/) functions.Round the result to two decimal places.Name the result as 'Price_Ratio'.
Specify the data source as the 'cleaned_dataset' table.
Group the results by 'Brand.'

In [ ]:
%%sql
SELECT Brand, ROUND(SUM(`Original Price`)/SUM(`Selling Price`),2) AS Price_ratio
FROM cleaned_dataset
GROUP BY Brand;

Task 13: Brands Ranked by Model Count and Top 2 Models by Selling Price
This task ranks brands based on the total count of models they offer and displays the top two models with the highest selling prices for each brand. The query utilizes window functions to rank models within each brand by selling price, enabling the extraction of the top 2 models based on their selling prices. This analysis provides insights into brand diversity in terms of model count and highlights the premium models with the highest selling prices within each brand, aiding in understanding brand positioning and product hierarchy based on pricing.

Rank the brands based on the total count of models they have, and for each brand, show the top 2 models with the highest selling prices.
Create a common table expression (CTE) named RankedBrands.
Within the CTE, select distinct 'Brand,' 'Mobile,' 'Selling Price,' and use the RANK() window function to rank the 'Selling Price' within each 'Brand' partition in descending order.
Name the resulting column as 'Rank.'
FROM the 'cleaned_dataset' table.
In the main query, select 'Brand,' 'Mobile,' and 'Selling Price' from the RankedBrands CTE.
Filter the results where the 'Rank' is less than or equal to 2.
ORDER BY 'Brand' and 'Rank.'

In [ ]:
%%sql
WITH RankedBrands AS (
    SELECT
        Brand,
        Mobile,
        `Selling Price`,
        RANK() OVER (PARTITION BY Brand ORDER BY `Selling Price` DESC) AS SellingPriceRank
    FROM
        cleaned_dataset
)

SELECT
    Brand,
    Mobile,
    `Selling Price`
FROM
    RankedBrands
WHERE
    SellingPriceRank <= 2
ORDER BY
    Brand,
    SellingPriceRank;

Task 14: Top Selling Price Models by Brand with Rating Above 4.4
This task identifies the models with the highest selling price for each brand that has at least one model with a rating above 4.4. The query filters models with ratings above 4.4 and retrieves the highest selling price for each brand meeting this criterion. Displaying the brand, model, and respective selling price aids in recognizing premium models with high selling prices and superior ratings within each brand, facilitating an understanding of top-rated offerings with premium pricing across different brands.

Find the models with the highest selling price for each brand that has at least one model with a rating above 4.4.
Select DISTINCT 'Brand,' 'Mobile,' and 'Selling Price' columns.
Specify the data source as the 'cleaned_dataset' table (aliased as 'cd1').
Use a WHERE clause to filter for rows where the 'Rating' is greater than 4.4.
Use a subquery to find the maximum 'Selling Price' for each brand within the same table, matching the brands between the outer and inner queries.
Filter the results to show only rows where the 'Selling Price' matches the maximum 'Selling Price' for each brand having a rating above 4.4.

In [ ]:
%%sql
SELECT DISTINCT cd1.Brand, cd1.Mobile, cd1.`Selling Price`
FROM cleaned_dataset AS cd1
WHERE cd1.Rating > 4.4
AND cd1.`Selling Price` = (
  SELECT MAX(`Selling Price`)
  FROM cleaned_dataset AS cd2
  WHERE cd1.Brand = cd2.Brand
)

Task 15: Brand Rating Categorization based on Average Ratings
This task calculates the average rating for each brand and categorizes brands into 'Excellent', 'Good', or 'Average' based on their average ratings. The query uses a CASE statement to assign categories depending on average ratings (≥ 4.5, ≥ 4.0 and < 4.5, < 4.0). Displaying the brand names, their average ratings, and respective categories enables the segmentation of brands based on their performance in terms of average ratings, allowing insights into brand reputation and quality perception among customers.

Calculate the average rating for each brand, and categorize the brands as 'Excellent', 'Good', or 'Average' based on their average ratings (≥ 4.5, ≥ 4.0 and < 4.5, < 4.0).
Select 'Brand' and calculate the average of 'Rating' as 'AvgRating.'
Use a CASE statement to categorize the brands based on their average ratings:
WHEN the average rating is greater than or equal to 4.5, categorize as 'Excellent.'
WHEN the average rating is greater than or equal to 4.0 (but less than 4.5), categorize as 'Good.'
OTHERWISE, categorize as 'Average.'
Specify the data source as the 'cleaned_dataset' table.
Group the results by 'Brand.'

In [ ]:
%%sql
SELECT
    Brand,
    AVG(Rating) AS AvgRating,
    CASE
        WHEN AVG(Rating) >= 4.5 THEN 'Excellent'
        WHEN AVG(Rating) >= 4.0 THEN 'Good'
        ELSE 'Average'
    END AS RatingCategory
FROM
    cleaned_dataset
GROUP BY
    Brand;

About Project

Welcome to "Smartphone Sales Analysis: Data Cleanup to Complex SQL." This project uses Python for data cleaning and SQL for detailed queries. Module 1 refines the dataset, handling nulls, duplicates, and column consistency. Module 2 leverages SQL for diverse queries to decode smartphone sales trends and behaviors, showcasing a data-driven exploration.

https://hicounselor.com/certificate/verify/OTUxMTEyMzc=