Unveiling the Stars: An Exploratory Study on NASA Astronauts
The exploration of NASA astronauts, a venture steeped in the allure of space exploration and human achievement, delves into a rich tapestry of individual stories and collective triumphs. While the stars above have always beckoned to humanity's sense of wonder, it is the individuals who have ventured beyond our atmosphere that make these dreams a reality.

In the realm of space exploration, talent, education, and diverse backgrounds are paramount. Every astronaut who has embarked on a journey to the cosmos is a testament to years of unwavering commitment and relentless pursuit of knowledge. Their experiences are as varied as the constellations in the night sky, with each astronaut bringing their unique set of skills, education, and expertise to the NASA family.

Yet, in the world of space exploration, it's not just about the individuals themselves; it's also about understanding the collective achievements and trends of NASA's astronaut corps. This is where a deep analysis of the provided dataset becomes pivotal.

And this is where you come in.

As an integral part of the team tasked with exploring this treasure trove of astronaut data, your role is crucial. You are the data virtuoso, the one who can transform raw information into meaningful insights that illuminate the demographics, careers, and accomplishments of NASA astronauts.

Using the latest tools and techniques in data analysis, you dissect the dataset, scrutinizing astronauts' backgrounds, experiences, and missions. You uncover patterns and trends that reveal the diverse tapestry of NASA's astronaut corps, from their educational journeys to their military service and their remarkable achievements in space.

As the project progresses, the excitement builds, and the knowledge you uncover becomes a source of inspiration. Researchers, space enthusiasts, and dreamers may not see the meticulous work behind the scenes, but they feel its impact in every chart, graph, and revelation.

In the world of astronaut analysis, you are the unsung hero, the one who helps unveil the extraordinary stories of those who have touched the stars. Your dedication to data and your ability to transform it into illuminating insights contribute to the ongoing saga of human exploration, making every astronaut's journey that much more extraordinary.

Task 1: Exploring NASA's Data Universe.
Our analysis of NASA's dataset is a mission to unveil profound insights within the realm of space exploration. Beyond mere data analysis, it's a journey to harness the knowledge hidden in the stars. Through this exploration, we aim to uncover patterns that will guide future missions, enhancing NASA's cosmic endeavors. Every data point is a piece of the cosmic puzzle, fueling innovation and inspiring generations to reach for the stars. In these numbers and statistics, we find the roadmap to the next frontier of human exploration.

In [ ]:
#--- Import Pandas ---
import pandas as pd
#--- Read in dataset ----
# ---WRITE YOUR CODE FOR TASK 1 ---
df = pd.read_csv('./nasa.csv')
#--- Inspect data ---
df

Task 2: Exploring Data Completeness.
In the midst of your data exploration, armed with the NASA astronaut dataset, you've arrived at a crucial juncture. You're now delving into the realm of data quality, seeking to understand the integrity of the information you're working with. With a few lines of code, you've calculated the number of missing values for each column in the dataset, and the results are illuminating.

In [ ]:
# --- WRITE YOUR CODE FOR TASK 2 ---
null_values = df.isnull().sum()

#--- Inspect data ---
null_values

Task 3: Data Refinement for NASA Astronaut Data.
In your ongoing journey through the NASA astronaut dataset, you've embarked on a quest for data integrity and precision. The code you've executed represents a pivotal moment in this endeavor, where you're not just analyzing data but also sculpting it to reveal the true narrative of these space pioneers.

In [ ]:
#--- WRITE YOUR CODE FOR TASK 3 ---
df.dropna(subset=['Alma_Mater'], inplace=True)
index_to_drop = df[(df['Death_Mission'].isnull()) & (~df['Death_Date'].isnull())].index
# Remove those rows from the DataFrame
df.drop(index_to_drop, inplace=True)
df['Birth_Date'] = pd.to_datetime(df['Birth_Date'], dayfirst=True)
df['Death_Date'] = pd.to_datetime(df['Death_Date'], dayfirst=True)
#--- Inspect data ---
df



Task 4: Preparing Data for SQL Analysis.
In the midst of your data journey through the NASA astronaut dataset, you've arrived at a crucial juncture where your focus shifts to data export and preparation for a new phase in your analysis.

The destination is clear: a CSV file named 'astronauts.csv' that will serve as the foundation for your SQL exploration. This export step ensures that the data you've curated and cleaned is ready to be loaded into a relational database, where you can perform more intricate queries and derive deeper insights.

In [ ]:
# ...WRITE YOUR CODE FOR TASK 4 ...
#export the cleaned data
#df.to_csv('astronauts.csv',index=False)
#--- Inspect data ---
df

Task 5: Data Download, Import, and Database Connection.

In [ ]:
# -- Load the sql extention ----
%load_ext sql

# --- Load your mysql db using credentials from the "DB" area ---
%sql mysql+pymysql://b633956d:Cab#22se@localhost/b633956d

Module 2
Task 1: Journeying Through Astronaut Profiles.
We embark on an interstellar adventure, peering into the captivating lives of NASA's space explorers. Each line of code unveils tales of cosmic bravery, where data becomes the canvas for astronauts' remarkable journeys.

As we execute this query, we're driven by the desire to inspire, inform, and honor their journeys. Each row of data represents a chapter in the grand story of space exploration, and by querying it, we're paying homage to their remarkable endeavors. We're doing this query to shed light on the heroes of the cosmic frontier and to share their awe-inspiring narratives with the world.

Retrieving All Data.
Select all columns in the table astronauts.

Use the SQL SELECT statement to retrieve all records denoted by *.
Specify the table to query, which is named 'astronauts'.

In [ ]:
%%sql
SELECT * FROM astronauts;

Task 2: Astronaut Status: Counting the Cosmic Pioneers.
In the dim glow of computer screens, we embark on a journey to distill insights from data, transforming numbers into meaningful narratives. Our mission is to honor the dedication and diversity of cosmic pioneers, celebrating their contributions to humanity's quest for the stars.

We embark on this journey to distill insights from data, transforming numbers into meaningful narratives. The query groups astronauts by their status, revealing the dynamic tapestry of their careers - active, retired, or otherwise.

Counting Astronauts by Status.
Find out the status of the astronaut.

Use the SQL SELECT statement to retrieve specific columns: 'Status' and the count of records denoted as 'Number'.
Specify the table to query, which is named 'astronauts'.
Group the results by the 'Status' column using the GROUP BY clause.

In [ ]:
%%sql
SELECT Status, COUNT(*) AS Number FROM astronauts GROUP BY Status;

Task 3: Exploring Astronauts' Military Branch Diversity.
In the soft glow of computer screens, we continue our exploration of the astronaut dataset, our journey of honoring cosmic pioneers and uncovering the stories that connect them to the stars.

Our previous queries have illuminated the dynamic careers and diverse backgrounds of these space heroes. Now, we turn our attention to their military branches, a vital chapter in their incredible journeys.



Counting Astronauts by Military Branch.
Find out the Military Branch of the astronaut.

Use the SQL SELECT statement to retrieve specific columns: 'Military_Branch' and the count of records denoted as 'Number'.
Specify the table to query, which is named 'astronauts'.
Group the results by the 'Military_Branch' column using the GROUP BY clause.

In [ ]:
%%sql
SELECT Military_Branch, COUNT(*) AS Number
FROM astronauts GROUP BY Military_Branch;

Task 4: Top Military Ranks Among Astronauts.
In the soft glow of computer screens, our cosmic journey through the astronaut dataset continues to unfold. Building upon our exploration of their military backgrounds, we now delve into the ranks that these celestial trailblazers once held in their respective armed forces.


Top 5 Military Ranks Among Astronauts.
Find out the top 5 military ranks of the astronaut.

Use the SQL SELECT statement to retrieve specific columns: 'Military_Rank' and the count of records denoted as 'Number'.
Specify the table to query, which is named 'astronauts'.
Group the results by the 'Military_Rank' column using the GROUP BY clause.
Sort the results in descending order based on the 'Number' column using the ORDER BY clause.
Apply a limit to the results, showing only the top 5 rows using the LIMIT clause.

In [ ]:
%%sql
SELECT Military_Rank , COUNT(*) AS Number
FROM astronauts GROUP BY Military_Rank
ORDER BY Number DESC LIMIT 5;

Task 5: Exploring Astronaut Demographics: Gender Insights.
Our cosmic journey through the astronaut dataset takes another captivating turn. Building upon our exploration of their military backgrounds and ranks, we now shift our focus to a crucial aspect of their diverse profiles: gender.


Count of Astronauts by Gender.
Calculate the number of male and female astronauts.

Use the SQL SELECT statement to retrieve specific columns: 'Gender' and the count of records denoted as 'Number'.
Specify the table to query, which is named 'astronauts'.
Group the results by the 'Gender' column using the GROUP BY clause.

In [ ]:
%%sql
SELECT Gender , COUNT(*) AS Number
FROM astronauts
GROUP BY Gender;

Task 6: Astronauts' Life Expectancy: A Cosmic Perspective
As our cosmic journey through the astronaut dataset continues, we embark on a quest to understand the human lifespan within the realm of space exploration. Our focus now turns to the astronauts' life expectancies, a reflection of the profound experiences and challenges they've encountered.

In this exploration, we pay tribute to the resilience and courage of these cosmic pioneers. Each astronaut's life expectancy, whether achieved or anticipated, is a testament to the unwavering spirit that propels humanity beyond Earth's bounds.


Average Life Expectancy of Astronauts.
What is the average life expectancy of an astronaut?

Calculate the average life expectancy of astronauts.
Create a subquery that calculates the life expectancy for each astronaut using conditional logic based on their 'Status' (Deceased or not).
In the subquery:
-If the 'Status' is 'Deceased,' calculate life expectancy by subtracting the birth year from the death year.
-If the 'Status' is not 'Deceased,' calculate life expectancy by subtracting the birth year from the year 2023.
-Alias the calculated life expectancy column as 'life_Expectancy' within the subquery.
Compute the average of these calculated life expectancies rounded to the nearest whole number.
The result is presented as 'Average_Life_Expectancy'.
Hint: To extract the year from a date format, you can use the YEAR() method

In [ ]:
%%sql
SELECT FLOOR(AVG(life_expectancy)) AS Average_Life_Expectancy
FROM (
    SELECT
        CASE
            WHEN Status = 'Deceased' THEN YEAR(Death_Date) - YEAR(Birth_Date)
            ELSE YEAR(NOW()) - YEAR(Birth_Date)
        END AS life_expectancy
    FROM astronauts
) AS life_expectancies;

Task 7: Honoring Female Astronauts: Life Expectancy.
In our ongoing journey through the astronaut dataset, we now shine a spotlight on a remarkable group of cosmic trailblazers—female astronauts. Their life expectancies, both achieved and anticipated, represent a testament to their extraordinary dedication and contribution to space exploration.


Average Life Expectancy of Female Astronauts.
What is the average life expectancy of a female astronaut?

Calculate the average life expectancy of female astronauts.
Create a subquery that calculates the life expectancy for each female astronaut using conditional logic based on their 'Status' (Deceased or not) and 'Gender.'
In the subquery:
-If the 'Status' is 'Deceased' and 'Gender' is 'Female,' calculate life expectancy by subtracting the birth year from the death year.
-If the 'Status' is not 'Deceased' and 'Gender' is 'Female,' calculate life expectancy by subtracting the birth year from the year 2023.
-Alias the calculated female life expectancy column as 'Female_life_Expectancy' within the subquery.
Compute the average of these calculated female life expectancies rounded to the nearest whole number.
The result is presented as 'Female_Average_Life_Expectancy.'
Hint: To extract the year from a date format, you can use the YEAR() method.

In [ ]:
%%sql
SELECT ROUND(AVG(Female_life_Expectancy)) AS Female_Average_Life_Expectancy
FROM (
    SELECT
        CASE
            WHEN status = 'Deceased' AND gender = 'Female' THEN YEAR(Death_Date) - YEAR(Birth_DAte)
            WHEN status != 'Deceased' AND gender = 'Female' THEN YEAR(NOW()) - YEAR(Birth_Date)
            ELSE NULL
        END AS Female_life_Expectancy
    FROM astronauts
) AS female_life_expectancies;

Task 8: Celebrating Male Astronauts: Life Expectancy.
In our ongoing odyssey through the astronaut dataset, we now turn our attention to the remarkable group of male astronauts, who have left an indelible mark on the cosmos. The focus of our inquiry? Their life expectancies, a testament to their unyielding commitment and dedication to the exploration of space.

Average Life Expectancy of Male Astronauts.
What is the average life expectancy of a male astronaut?

Calculate the average life expectancy of male astronauts.
Create a subquery that calculates the life expectancy for each male astronaut using conditional logic based on their 'Status' (Deceased or not) and 'Gender.'
In the subquery:
-If the 'Status' is 'Deceased' and 'Gender' is 'Male,' calculate life expectancy by subtracting the birth year from the death year.
-If the 'Status' is not 'Deceased' and 'Gender' is 'Male,' calculate life expectancy by subtracting the birth year from the year 2023.
-Alias the calculated male life expectancy column as 'Male_life_Expectancy' within the subquery.
Compute the average of these calculated male life expectancies rounded to the nearest whole number.
The result is presented as 'Male_Average_Life_Expectancy'.
Hint: To extract the year from a date format, you can use the YEAR() method.

In [ ]:
%%sql
SELECT FLOOR(AVG(Male_life_Expectancy)) AS Male_Average_Life_Expectancy
FROM (
    SELECT
        CASE
            WHEN status = 'Deceased' AND gender = 'Male' THEN YEAR(Death_Date) - YEAR(Birth_DAte)
            WHEN status != 'Deceased' AND gender = 'Male' THEN YEAR(NOW()) - YEAR(Birth_Date)
            ELSE NULL
        END AS Male_life_Expectancy
    FROM astronauts
) AS Male_life_expectancies;

Task 9: Cosmic Scholars: Top Graduate Majors of Astronauts.
As our cosmic exploration through the astronaut dataset unfolds, we turn our focus to the educational pathways of these cosmic adventurers. With a keen eye on their graduate majors, we aim to uncover the diverse academic foundations that have propelled them into the boundless realms of space.

This forthcoming query, though a mere compilation of data, is a portal to a world of knowledge. It reveals the top ten graduate majors, offering a glimpse into the educational tapestry that makes up the astronaut corps.

Top 10 Graduate Majors Among Astronauts.
Find out the top 10 educational backgrounds (graduates) that astronauts have.

Use the SQL SELECT statement to retrieve specific columns: 'Graduate_Major' column and calculates the count of records, denoted as 'Number'.
Specify the table to query, which is named 'astronauts'.
Group the results by the 'Graduate_Major' column using the GROUP BY clause.
Sort the results in descending order based on the count using the ORDER BY clause.
Apply a limit to the results, showing only the top 10 'Graduate_Major' categories with the highest counts.

In [ ]:
%%sql
SELECT Graduate_Major , COUNT(*) AS Number
FROM astronauts
GROUP BY Graduate_Major
ORDER BY Number DESC LIMIT 10;

Task 10: Educational Odyssey: Astronauts and Their Degrees.
In our continuous journey through the astronaut dataset, we are now casting a wide net to encompass the full educational spectrum of these cosmic pioneers. The query we have set in motion is a treasure trove of information, offering us a profound glimpse into the academic odysseys that have propelled astronauts to the stars.

As we meticulously examine these numbers, we are not merely dealing with data points; we are delving into the very essence of these space heroes. The "Number_of_Astronauts" figure serves as a testament to the exclusive fellowship of cosmic explorers, those who have boldly transcended the boundaries of Earth.


Astronaut Education Statistics.
Calculate the count of astronauts with undergraduate and graduate degrees.

Calculate the total count of astronauts and alias it as 'Number_of_Astronauts.'
Calculate the count of astronauts with undergraduate degrees and alias it as 'Astronauts_with_Undergraduate_Degrees.'
Calculate the count of astronauts with graduate degrees and alias it as 'Astronauts_with_Graduate_Degrees.'
Retrieve this information from the 'astronauts' table.

In [ ]:
%%sql

SELECT COUNT(*) AS Number_of_Astronauts,

       (SELECT COUNT(*) FROM astronauts WHERE undergraduate_major IS NOT NULL) AS Astronauts_with_Undergraduate_Degrees,

       (SELECT COUNT(*) FROM astronauts WHERE graduate_major IS NOT NULL) AS Astronauts_with_Graduate_Degrees
FROM astronauts;

Task 11: Astronaut Birthplaces: Launching from Earth's Diverse Cities.
In our cosmic journey through the astronaut dataset, we now turn our gaze to the birthplaces of these intrepid space explorers. The query we've embarked upon, though a collection of data, is a portal to the origins of those who've ventured into the boundless cosmos.

As we dissect the numbers, we're not just dealing with statistics; we're unraveling the geographic tapestry that contributes to the astronaut corps. The birth states that emerge as the top five hold within them the beginnings of remarkable journeys.

Each city represents a unique chapter in the story of these cosmic pioneers. From bustling metropolises to quiet towns, these diverse origins reflect the universal aspiration to reach for the stars.


Top 5 States of Birth for Astronauts.
Find out the top 5 countries/states from which astronauts come.

Extract the state name from the 'Birth_Place' column and alias it as 'STATE.'
Calculate the count of astronauts born in each state.
Retrieve this information from the 'astronauts' table.
Group the results by the 'STATE' column.
Sort the results in descending order based on the count.
Display only the top 5 states with the highest counts of astronauts.
Hint: To extract the state from the 'Birth_Place' column, you can use SUBSTRING_INDEX(Birth_Place, ',', -1) to get the last part of the 'Birth_Place' string, which is the state. Please note that there should be no space after the delimiter (',').

In [ ]:
%%sql
SELECT SUBSTRING_INDEX(Birth_Place, ',', -1) AS STATE, COUNT(*) AS Astronauts_Count
FROM astronauts
GROUP BY STATE
ORDER BY Astronauts_Count DESC
LIMIT 5;

Task 12: Voyages Beyond: Astronauts' Space Flights and Spacewalks.
As our voyage through the astronaut dataset unfolds, we now set our sights on the extraordinary journeys that these cosmic pioneers have undertaken. The query we've embarked upon holds within it a wealth of experiences, a testament to the adventurous spirit of those who've ventured into the cosmos.

Our calculations of the average number of space flights and spacewalks provide insight into the vast range of missions and activities these astronauts have undertaken. Each decimal point in the result represents another moment in space, another step taken in the weightlessness of the cosmos.

These averages tell the story of dedication, training, and the relentless pursuit of scientific discovery and exploration. The numbers, though abstract, are a reflection of the countless hours of preparation and the courage required to journey beyond our planet.

SELECT ROUND(AVG(Space_Walks)) AS Average_Number_of_Space_Walks,
ROUND(AVG(Space_Flight)) AS Average_Number_of_Space_Flights
FROM astronauts;


Average Space Flights and Spacewalks per Astronaut.
Find out the average number of space flights and spacewalks for astronauts.

Calculate the average number of space flights among astronauts, and alias it as 'Average_Number_Of_Space_Flight.'
Calculate the average number of spacewalks among astronauts, and alias it as 'Average_Number_Of_Space_Walks.'
Round both of these calculated averages to two decimal places.
Retrieve this information from the 'astronauts' table.

In [ ]:
%%sql
SELECT ROUND(AVG(Space_Flights), 2) AS Average_Number_Of_Space_Flight,
       ROUND(AVG(Space_Walks), 2) AS Average_Number_Of_Space_Walks
FROM astronauts;

About Project

In this project, you'll analyze NASA astronauts using the provided dataset. Your task involves data cleaning, exploration, and information extraction using Python and MySQL. The dataset includes astronaut details like names, birthdates, gender, education, military history, space missions, and more. Your goal is to uncover insights into astronauts' demographics, careers, and achievements through descriptive statistics and data visualization


https://hicounselor.com/certificate/verify/OTUxMTEyMzc=